%% -*- erlang -*-
%% Config file for can-applicatione
{deps_dir, ["deps"]}.
{deps, [{dthread,"0.1"},
	{uart,"0.1"},
	{lager, "1.0.*"}
       ]}.
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.
{port_env, [
	    {"CFLAGS", "$CFLAGS -DDEBUG_MEM -DDLOG_DEFAULT=DLOG_NONE -D_THREAD_SAFE -I ../dthread/include"},
	    {"(linux)", "LDFLAGS", "$LDFLAGS ../dthread/c_src/dlib.o ../dthread/c_src/dterm.o ../dthread/c_src/dthread.o"}
	   ]}.
{port_specs, [
	      {"linux","priv/can_sock_drv.so",["c_src/*.c"]}
	     ]}.
