%% -*- erlang -*-
%% Config file for can-applicatione
{deps_dir, ["deps"]}.
{deps, [sl, eapi]}.
{erl_opts, [debug_info, fail_on_warning]}.
{require_otp_vsn, "R14|R15"}.
{sub_dirs, ["src"]}.
{port_env, [
	    {"CFLAGS", "$CFLAGS -I ../eapi/include"},
	    {"LDFLAGS", "$LDFLAGS ../eapi/lib/release/eapi_drv.a"}
	   ]}.
{port_specs, [
	      {"linux","priv/release/can_sock_drv.so",["c_src/*.c"]}
	     ]}.
