%% -*- erlang -*-
%% Config file for can-application
{deps, [{dthread, ".*", {git, "git@github.com:tonyrog/dthread.git"}},
	{uart, ".*", {git, "git@github.com:tonyrog/uart.git"}},
	{lager, ".*", {git, "git://github.com/Feuerlabs/lager.git",
		       "1.0.0.fl.2"}}
       ]}.
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.
{port_env, [
	    {"CFLAGS", "$CFLAGS -DDEBUG_MEM -DDLOG_DEFAULT=DLOG_NONE -D_THREAD_SAFE -I $REBAR_DEPS_DIR"},
	    {"(linux)", "LDFLAGS", "$LDFLAGS $REBAR_DEPS_DIR/dthread/c_src/dlog.o $REBAR_DEPS_DIR/dthread/c_src/dlib.o $REBAR_DEPS_DIR/dthread/c_src/dterm.o $REBAR_DEPS_DIR/dthread/c_src/dthread.o"}
	   ]}.
{port_specs, [
	      {"linux","priv/can_sock_drv.so",["c_src/*.c"]}
	     ]}.
