%% -*- erlang -*-
[
 {can, 
  [
   {interfaces,
    [

     {can_udp, 0, 
      [
       {name,   "can_udp-0"},
       {maddr,  {224,0,0,1}},   %% multicast address
       {ifaddr, {0,0,0,0}},     %% interface to use
       {ttl,    0},             %% range of multicast ttl (0=host, 1=localnet)
       {mport,  51712},         %% multicast port
       {fd,true}                %% handle FD frames
      ]},

     {can_usb, 1, 
      [
        {device,"/dev/serial/by-id/usb-LAWICEL_CANUSB_*-if00-port0"},
        {name,   "can_usb-1"},
        {bitrate, 250000},             %% CAN bitrate
        {status_interval,undefined},   %% check controller for error etc
        {baud, 115200},                %% serial uart baudrate
        {retry_interval, 2000},        %% retry open device at this rate
        {fd, false}                    %% CANUSB do not support FD
      ]},

     {can_sock, 2,
      [
       {device, "can?"},             %% first available
       {name, "can_sock-2"},
       {bitrate, 500000},            %% bus speed is 500KHz
       {datarate, 2000000},          %% send data at 2MHz
       {fd, true},                   %% enable FD frames
       {listen_only,false},          %% passive 
       {restart_ms, 100}             %% restart interval for error conditions
      ]},

     {can_sock, 3,
      [
       {device, "vcan?"},            %% first available
       {name, "can_sock-3"},
       {fd, true}                    %% enable FD frames (emulated)
      ]}
    ]}
  ]}
].

